<section class="testimonials">
  <div class="container">
    <div class="section-header text-center mb-5">
      <h2 class="sec-title text-dark mb-4 fw-bold">What our client says</h2>
      <p class="sub-title fs-6">
        Our clients send us bunch of smiles with our services and we love them
      </p>
    </div>

    <div class="testimonials-active owl-carousel owl-theme">
      <div class="sliderItem">
        <div class="client-says bg-white position-relative mb-4">
          <p class="mb-4">
            <img
              src="../../assets/images/qoute.svg"
              alt="icon"
              class="w-auto"
            />
            Tristique viverra vitae fermentum pellentesque at. Nunc at justo, a
            dolor egestas. Urna, metus, a, ultricies sed justo. Ut viverra
            turpis enim odio diam et vulputate. Congue ac eget justo, a dolor
            egestas.
          </p>
          <ul
            class="ratting list-unstyled mb-0 d-flex gap-1 align-items-center"
          >
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid"
                  w-auto
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start-hulp.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <span>4.5/5</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="client-info d-flex gap-3 align-items-center ps-4 pt-2">
          <div class="client-pic">
            <img
              src="../../assets/images/author-img.png"
              alt="img"
              class="img-fluid w-auto"
            />
          </div>
          <div class="info">
            <h4 class="name fs-5">Dianne Russell</h4>
            <p class="is-verify mb-0 d-flex align-items-center gap-2">
              <img
                src="../../assets/images/checked-icon.svg"
                alt="icon"
                class="img-fluid w-auto"
              />
              Verified Customer
            </p>
          </div>
        </div>
      </div>
      <div class="sliderItem">
        <div class="client-says bg-white position-relative mb-4">
          <p class="mb-4">
            <img
              src="../../assets/images/qoute.svg"
              alt="icon"
              class="w-auto"
            />
            Tristique viverra vitae fermentum pellentesque at. Nunc at justo, a
            dolor egestas. Urna, metus, a, ultricies sed justo. Ut viverra
            turpis enim odio diam et vulputate. Congue ac eget justo, a dolor
            egestas.
          </p>
          <ul
            class="ratting list-unstyled mb-0 d-flex gap-1 align-items-center"
          >
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid"
                  w-auto
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start-hulp.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <span>4.5/5</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="client-info d-flex gap-3 align-items-center ps-4 pt-2">
          <div class="client-pic">
            <img
              src="../../assets/images/author-img2.png"
              alt="img"
              class="img-fluid w-auto"
            />
          </div>
          <div class="info">
            <h4 class="name fs-5">Bessie Cooper</h4>
            <p class="is-verify mb-0 d-flex align-items-center gap-2">
              <img
                src="../../assets/images/checked-icon.svg"
                alt="icon"
                class="img-fluid w-auto"
              />
              Verified Customer
            </p>
          </div>
        </div>
      </div>
      <div class="sliderItem">
        <div class="client-says bg-white position-relative mb-4">
          <p class="mb-4">
            <img
              src="../../assets/images/qoute.svg"
              alt="icon"
              class="w-auto"
            />
            Tristique viverra vitae fermentum pellentesque at. Nunc at justo, a
            dolor egestas. Urna, metus, a, ultricies sed justo. Ut viverra
            turpis enim odio diam et vulputate. Congue ac eget justo, a dolor
            egestas.
          </p>
          <ul
            class="ratting list-unstyled mb-0 d-flex gap-1 align-items-center"
          >
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid"
                  w-auto
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start-hulp.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <span>4.5/5</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="client-info d-flex gap-3 align-items-center ps-4 pt-2">
          <div class="client-pic">
            <img
              src="../../assets/images/author-img.png"
              alt="img"
              class="img-fluid w-auto"
            />
          </div>
          <div class="info">
            <h4 class="name fs-5">Dianne Russell</h4>
            <p class="is-verify mb-0 d-flex align-items-center gap-2">
              <img
                src="../../assets/images/checked-icon.svg"
                alt="icon"
                class="img-fluid w-auto"
              />
              Verified Customer
            </p>
          </div>
        </div>
      </div>
      <div class="sliderItem">
        <div class="client-says bg-white position-relative mb-4">
          <p class="mb-4">
            <img
              src="../../assets/images/qoute.svg"
              alt="icon"
              class="w-auto"
            />
            Tristique viverra vitae fermentum pellentesque at. Nunc at justo, a
            dolor egestas. Urna, metus, a, ultricies sed justo. Ut viverra
            turpis enim odio diam et vulputate. Congue ac eget justo, a dolor
            egestas.
          </p>
          <ul
            class="ratting list-unstyled mb-0 d-flex gap-1 align-items-center"
          >
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid"
                  w-auto
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start-hulp.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <span>4.5/5</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="client-info d-flex gap-3 align-items-center ps-4 pt-2">
          <div class="client-pic">
            <img
              src="../../assets/images/author-img2.png"
              alt="img"
              class="img-fluid w-auto"
            />
          </div>
          <div class="info">
            <h4 class="name fs-5">Bessie Cooper</h4>
            <p class="is-verify mb-0 d-flex align-items-center gap-2">
              <img
                src="../../assets/images/checked-icon.svg"
                alt="icon"
                class="img-fluid w-auto"
              />
              Verified Customer
            </p>
          </div>
        </div>
      </div>
      <div class="sliderItem">
        <div class="client-says bg-white position-relative mb-4">
          <p class="mb-4">
            <img
              src="../../assets/images/qoute.svg"
              alt="icon"
              class="w-auto"
            />
            Tristique viverra vitae fermentum pellentesque at. Nunc at justo, a
            dolor egestas. Urna, metus, a, ultricies sed justo. Ut viverra
            turpis enim odio diam et vulputate. Congue ac eget justo, a dolor
            egestas.
          </p>
          <ul
            class="ratting list-unstyled mb-0 d-flex gap-1 align-items-center"
          >
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid"
                  w-auto
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../assets/images/start-hulp.svg"
                  alt="icon"
                  class="img-fluid w-auto"
                />
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <span>4.5/5</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="client-info d-flex gap-3 align-items-center ps-4 pt-2">
          <div class="client-pic">
            <img
              src="../../assets/images/author-img.png"
              alt="img"
              class="img-fluid w-auto"
            />
          </div>
          <div class="info">
            <h4 class="name fs-5">Dianne Russell</h4>
            <p class="is-verify mb-0 d-flex align-items-center gap-2">
              <img
                src="../../assets/images/checked-icon.svg"
                alt="icon"
                class="img-fluid w-auto"
              />
              Verified Customer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
