/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "gilory";
  src: url("./assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "gilory";
  src: url("./assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "gilory";
  src: url("./assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "gilory";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "gilory";
  src: url("./assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  background-color: #f1f3f9;
  font-family: gilory;
}

.access-btn {
  background-color: #2878f0;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 8px;
  width: 162px;
  height: 52px;
  // padding: 17px 30px;

  &:hover {
    background-color: #68dbba;
    color: #ffffff;
  }
}

.blue-text {
  color: #2878f0;
}

.yellow-text {
  color: #ffda00;
}

button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (max-width: 576px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .buy-today-section {
    background-position: 75%;
  }
}

@media (max-width: 576px) {
  .buy-today-section {
    background-position: 0%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
